<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chacket</title>
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <section class="msger">
          <header class="msger-header">
            <div class="msger-header-title">
              <i class="fas fa-comment-alt"></i> SimpleChat
            </div>
            <div class="msger-header-options">
              <span><i class="fas fa-cog"></i></span>
            </div>
          </header>

          <main class="msger-chat">
            <div class="msg left-msg">
              <div
               class="msg-img"
               style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
              ></div>

              <div class="msg-bubble">
                <div class="msg-info">
                  <div class="msg-info-name">Announcer</div>
                  <div class="msg-info-time">12:45</div>
                </div>

                <div class="msg-text">
                  There are 0 active users in chat at the moment
                </div>
              </div>
            </div>
          </main>

          <form class="msger-inputarea" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" class="msger-input" placeholder="Enter your message...">
            <button type="submit" class="msger-send-btn">Send</button>
          </form>
        </section>
    <script type="text/javascript" src="{{ url_for('static', path='/websocket.js') }}"></script>
    </body>
</html>